[user]
	email = ysti2019.win2020.st@gmail.com
	name = newt239
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
