user.email=ysti2019.win2020.st@gmail.com
user.name=newt239
commit.gpgsign=true
init.defaultbranch=main
filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.process=git-lfs filter-process
filter.lfs.required=true
